body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #049fd9;
  margin-bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: #049fd9;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.bg-steel {
  background-color: #049fd9;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #049fd9;
}

a.article-title:hover {
  color: #049fd9;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #049fd9;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.header-container {
  padding: 1em 0em;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 1em 0 2em 0;
  background-color: #fafafa;
}

.nav-item {
  padding: 5px;
  margin: 0 20px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  color: rgb(0, 0, 0, 0.5);
}

.nav-item:hover {
  border-bottom: 1px solid rgb(0, 0, 0, 1);
  color: rgb(0, 0, 0, 1);
}

a.nav-item:hover {
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.centered-container {
  display: flex;
  align-items: center;
}

.seventy {
  width: 70%;
  margin: 0 auto;
}

.info {
  width: 60%;
}

.info-small {
  width:50%
}

.page-header {
  margin-bottom: 2em;
}

.body {
  margin: 3em 0;
}

button {
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 6px;
  background-color: #d1e4f5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  width: fit-content;
}

.styled-button:hover {
  background-color: #c6e3fe;
}

a.custom-button {
  color: #3d3d3d;
}

a.custom-button:hover {
  text-decoration: none;
}

/* loading page spinner  */
.loader {
  border: 5px solid #d3d3d3; /* Light grey */
  border-top: 5px solid #5d5d5d; /* Dark grey */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* side by side view of images (comparison), fills to size w/o morphing actual image */
.image-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 6em;
}

.img-fitted {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 0.5em 1.5em;
}

/* info list styling */
.list {
  width: 50%;
  margin-bottom: 0.5em;
}
