{%extends "layout.html"%} {%block content%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2">Welcome to our submission for PennApps XXI!</a>
    </div>
    <p class="article-content">This is application uses a generative adversarial network (GAN) to overlay COVID-19 features onto x-ray images of healthy lungs.
    Our hope is to extend this platform to novel diseases as they appear to specifically identify problem areas and physiological changes in internal organs.</p>
  </div>
</article>

{% endblock content %}
