{%extends "layout.html"%}
{%block content%}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2">Welcome!</a>
        </div>
        <p class="article-content">This is the Cisco Log Analysis & Remediation Kiosk. It is a tool designed to assist you in diagnosing non-compliant ISE configurations. Please begin by navigating to the upload page in the upper right corner of this page and following the instructions to upload your support bundle.</p>
      </div>
    </article>

{% endblock content %}