{%extends "layout.html"%}
{%block content%}
   <div class="column centered-container page-header">
      <h1>COVID-19 Lung Scanner</h1>
      <p class="info">FIXME include overview of how GAN works and is applied to this use case.</p>
   </div>
   <div class="column centered-container">
        <div class="list">
            <h2 class="text-center">Research and Data References</h2>
            <ul>
                <li><a href="">link1</a></li>
                <li><a href="">link2</a></li>
            </ul>
        </div>
        <div class="list">
            <h2 class="text-center">COVID-19 Help References</h2>
            <ul>
                <li><a href="https://www.cdc.gov/coronavirus/resources.html">CDC website</a> for the latest updates</li>
                <li><a href="https://bestpractice.bmj.com/topics/en-us/3000168/references">Best Practices</a> on how to approach COVID-19</li>
                <li><a href="https://landing.google.com/screener/covid19?source=google">Online Self Assessment</a> for free by Google</li>
            </ul>
        </div>
    </div> 
   </div>

{% endblock content %}

