{%extends "layout.html"%}
{%block content%}
    <form method="post" enctype="multipart/form-data">
         {{form.hidden_tag()}}
               <fieldset class = "form-group"> 
                  
                  <legend class= "border-bottom mb-4">Upload Your X-Ray Image (only accepts .jpg, .jpeg, and .png extensions)</legend>
                  <div class = "form-group">
                     {{ form.hidden_tag() }}
                     {{ form.file }}

                  </div>
                  <div class = "form-group">
                     <input type="submit">
                  </div>

               </fieldset>

      </form>

{% endblock content %}

